.App {
  text-align: center;
}

.App-header {
  background-color: #102A2D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 50px;
  padding: 20px 0;
  border-bottom: 3px solid white;
}

h2 {
  margin-bottom: 30px;
}

p {
  font-size: 15px;
  padding: 10px 25px;
  margin: auto;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.accountsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
  border-top: 1px solid #408c99;
  border-bottom: 1px solid #408c99;
}

.fieldset {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fieldset-input {
  background-color: #ABE8E5;
  border-radius: 30px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  max-width: 120px;
}

.fieldset-buttons {
  display: flex;
  flex-direction: column;
}