.App {
  text-align: center;
}

.App-header {
  background-color: #102A2D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ABE8E5;
  padding: 20px 0;
}

.App-main {
  background-color: #102A2D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ABE8E5;
}

h1 {
  margin: 50px;
  color: #ABE8E5;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 17px;
  margin: auto;
  margin-left: 0;
}

.card {
  background-color: #102A2D;
  border-color: #ABE8E5;
}

.card-header {
  border-bottom-color: #ABE8E5;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
}

.accounts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 0;
}

.account-data {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.account-data-details {
  width: 140px;
  text-align: start;
  border: 1px solid #408c99;
  border-radius: 5px;
  padding: 8px;
}

.account-data-details-money {
  width: 90px;
  text-align: end;
  border: 1px solid #408c99;
  border-radius: 5px;
  padding: 8px;
}

.fieldset {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fieldset-add-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fieldset-input {
  background-color: #b9ece9;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  max-width: 100%;

}

.fieldset-input-money {
  background-color: #b9ece9;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 150px;
}

.fieldset-buttons {
  display: flex;
  flex-direction: column;
}

.modal {
  display: block;
  background-color: rgba(16, 42, 45, 0.803);

  .modal-content {
    background-color: #f7f7f7;
  }

  .modal-title,
  .modal-body {
    color: #102A2D;
  }
}

.sort {
  border: 1px solid #408c99;
  border-radius: 5px;
  width: fit-content;
  font-size: 15px;
  padding: 0 10px;

  .sort-button {
    height: 30px;
    cursor: pointer;
    color: #408c99;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;

    &:after {
      content: '\25A2'; // square
    }

    &.asc::after {
      content: '\25B3'; // up-pointing triangle
    }

    &.default::after {
      content: '\25BD'; // down-pointing triangle
    }
  }
}

.messages {
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .message {
    padding: 15px 30px;
    background-color: #f7f7f7;
    border: 1px solid #ABE8E5;
    border-radius: 5px;
    font-size: 15px;
    color: #102A2D;
  }
}